services:
  postgres:
    image: postgres:15
    security_opt:
      - apparmor:unconfined
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d appdb"]
      interval: 2s
      timeout: 2s
      retries: 20


  app:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/appdb
      DB_USER: app
      DB_PASSWORD: app

      JWT_SECRET: please-change-me
      JWT_ISSUER: ktor.io
      JWT_AUDIENCE: ktor-audience

      PORT: "8080"
    ports:
      - "8080:8080"

volumes:
  pgdata:
